@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
:root {
  --orange: hsl(25, 97%, 53%);

  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
  --p: 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass";
}
body {
  width: 100%;
  height: 100vh;
  background: var(--Very-Dark-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 360px;
  height: 340px;
  background: var(--Dark-Blue);
  position: absolute;
  border-radius: 1.5rem;
  padding: 20px 20px 10px;
  overflow: hidden;
}
main .container {
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
  /* transform: translateY(-100%); */
}
.container img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--Very-Dark-Blue);
  text-align: center;
  padding: 8px;
}

.container .texbox {
  color: var(--White);
  margin: 10px 0 20px;
}
.texbox h1 {
  font-weight: 700;
  margin-bottom: 10px;
}
.texbox p {
  color: var(--Medium-Grey);
  font-size: var(--p);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.inputbox {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.inputbox input {
  width: 50px;
  height: 50px;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 50%;
  text-align: center;
  background: var(--Very-Dark-Blue);
  color: var(--Medium-Grey);
}
.inputbox input:hover {
  background: var(--orange);
  color: var(--White);
}
.inputbox input:focus {
  background: var(--Light-Grey);
  color: var(--White);
}
button {
  height: 50px;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 20px;
  background: var(--orange);
  color: var(--White);
}
button:hover {
  background: var(--White);
  color: var(--orange);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Thanks Section */
.thanksbox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(30px);
  transition: transform 0.2s;
  /* transform: translateY(-100%); */
}
.thanksbox img {
  width: 100px;
  height: 100px;
  margin-top: -40px;
}
.thanksbox .choicetext {
  color: var(--orange);
  font-size: var(--p);
  padding: 5px 10px;
  border-radius: 1.4rem;
  margin: 20px 0;
  background: var(--Very-Dark-Blue);
}
.thanksbox h1 {
  color: var(--White);
  margin-bottom: 20px;
  font-weight: 700;
}
.thanksbox p {
  color: var(--Light-Grey);
  text-align: center;
  font-weight: 400;
  white-space: nowrap;
}
